@CHARSET "UTF-8";

#hotellist{width:98%; margin:10px auto; text-align:center; border-collapse:collapse; border:1px solid black }
#hotellist th, .ex1 td {padding:5px 11px}
#hotellist td{border:1px solid black; font-weight: bold; font-size: 16px;}
#hotellist thead th {background:#aa00aa; color:#fff; text-align:center; border-right:1px solid black; font-size: 17px;}
#hotellist tbody th {text-align:center; width:12%; font-size: 15px;}
#hotellist tbody tr:hover {background:#fbd2f1}

#aMain_cont{
	width:950px;
	height:auto; 
	margin-left:auto;
	margin-right:auto;
	border:0px solid red;
}

#wrap {
	width:100%;
	position: relative;
}
#header {
	width:100%;
	background:#F4FFFF;
	height:97px;
}
#header .login{
	width: 27%;	
	float:right;
	font-size:18px;
	width:400px;
	padding:7px;
}

#page2{ /* 하단 페이지 숫자 박스*/
	
	width: 800px;
	height: 40px;
	text-align: center;
	margin: 0px 0px 0px 379px;
}

/* 버튼 css 나중에 꾸민다*/

.btn_h{ /* 하단 버튼*/
	background-color: #697379;
    color: #fff;
    border: 1px solid #697379;
     cursor:pointer;
    text-decoration: none;
        min-width: 36px;
            height: auto;
             font-size: 14px;
                 line-height:.5;
                     min-height: 36px;
                     user-select: none;
                         touch-action: manipulation;
                             white-space: nowrap;
                             vertical-align: middle;
                                 text-overflow: ellipsis;
                                     align-items: flex-start;
            
}
