<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="hotel" type="com.daum.model.HotelBean" />
		<typeAlias alias="reserve" type="com.daum.model.ReserveBean" />
		
 		<typeAlias alias="admin" type="com.daum.model.admin.AdminBean" />

		<typeAlias alias="gongji" type="com.daum.model.admin.AdminGongBean"/>
 		
		<typeAlias alias="member" type="com.daum.model.MemberBean"/>



		<typeAlias alias="cm" type="com.daum.model.community.CmBean" />
     		<typeAlias alias="com" type="com.daum.model.community.CommentBean" />
      		<typeAlias alias="ptcm" type="com.daum.model.community.PtcmBean" />
      		<typeAlias alias="ptcom" type="com.daum.model.community.PtcommentBean" />
		
	</typeAliases>
</configuration> 