@CHARSET "UTF-8";

/* body { */
/* 	margin: 0; */
/* 	padding: 0; */
/* 	font-size: 0.75em; */
/* 	line-height: 1.2em; */
/* 	background-color: #f1f1f1; */
/* } */

.bxslider{
	height:400px;
/* 	border:2px solid red; */
	position:relative;
	margin:0 auto;
}
#wrap {
	padding:0px;
	margin: 0px;
/* 	border: 2px solid blue; */
}

#search {
	/* 	border:1px solid black; */
	width: 200px;
	height: 40px;
	margin: 30px 0px 0px 300px;
	float: left;
	position: relative;
}

#header {
	position:relative;
	width: 100%;
	height: 80px;
	background-color: #FFF;
	/* 	border:1px solid red; */
}

.logo {
	position:relative;
	width: 140px;
	float: left;
	margin: 10px 0px 0px 50px;
}

.menu {
	position:relative;
	float: left;
	margin: 15px 0px 0px 30px;
	/* 	border:1px solid blue; */
	padding: 20px 80px 0px 0px;
}

.menu ul {
	list-style: none; /*수직 목록 앞 점 마커를 없앰*/
	font-family: "굴림체";
	font-size: 20px;
	font-weight: bold; /*글자를 진하게 표현*/
	color: #c0c0c0;
	margin: 0px;
}

.menu ul li {
	float: left; /* 수직 목록을 수평 목록으로*/
	margin: 0px 10px;
	color: #f488ce;
}

.menu a {
	display: block; /*a 태그가 인라인 요소 태그이다. 이것을 블록요소로 바꿈*/
	height: 20px;
	padding: 10px; /*상하 좌우 안여백을 동시에 처리*/
	text-decoration: none; /*하이퍼링크 된곳 밑줄선 사라지게함*/
	color: #f488ce;
}

.login {
	position:relative;
	float: right;
	margin: 20px 40px 0px 0px;
	font-family: "굴림체";
	font-size: 20px;
	font-weight: bold;
	/*     border:1px solid blue; */
	word-spacing: 5px; /*단어간 간격을 띄움 */
}

.login a {
	text-decoration: none;
	color: #f488ce;
}

.search a:hover{
	text-decoration: none;
	color:black;
}

.table {
	margin: auto;
}

.table .td1 {
	height: 40px;
	float: left;
}

.td2 {
	width: 65px;
	height: 46px;
}

#thema { /* 테마 전체 div*/
	width: 80%;
	margin: auto;
	height: 800px;
	/* 	border: 2px solid red; */
	/* 	position:relative; */
}

.thema2 { /* 테마 최 상단*/
	width: 100%;
	margin: 0px 5px 5px 5px;
	list-style: none;
}

.thema3 { /* 테마 최 상단*/
	width: 100%;
	margin: 5px 5px 5px 5px;
	float: left;
	list-style: none;
}

.thema4 { /* 테마 최 상단*/
	width: 100%;
	margin: 5px 5px 5px 6px;
	float: left;
	list-style: none;
}

#img {
	/*    border:2px solid red; */
	margin: 0 auto;
	width: 930px;
	height: 900px;
	padding: 0px 0px 10px 0px;
}

.ga {
	margin: 5px 0px 5px 0px;
	width: 930px;
	height: 300px;
	float: left;
	padding-left: 10px;
	position: relative;
}

.img2 {
	margin-left: 5px;
	display: inline; /*inline요소로 변경*/
	position: absolute; /*절대위치 지정*/
}

.me {
	margin-top: 90px;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
}
.me3 {
	margin-top: 90px;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	color:#000000;
}
															/*하단 footer부분*/

footer {
	height: 80px;
	margin: 0 auto;
	background-color: #c0c0c0;
}

footer #copy {
	width: 800px;
	font-family: "굴림체";
	margin: 0 auto;
	margin-top: 30px;
}

#foot{
	backgound-color:#c0c0c0;
	width:100%; height:80px;
	border:1px solid white;
}

														/* 메인 커뮤니티 부분 */
														
.comu{
	width:1000px; height:200px;
	position:relative;
	margin:0 auto;
}
.co-l{
	float:left;
	width:400px; height:200px;
	margin: 0 auto;
	margin-right:100px;
}
.co-r{
	float:right;
	width:400px; height:200px;
	margin: 0 auto;
}
.c-title a ,.co-r a,.co-l a{
	text-decoration: none;
	color: black;
}

.c-title a:hover,.co-r a:hover,.co-l a:hover{
	text-decoration: none;
	color:black;
}

.clear{
	clear: both;
}
.co-l td.contxt,.co-r td.contxt{
/*     background-image:url(../images/tr_back.gif); */
/*     background-repeat:no-repeat; */
/*     background-position:left center; */
    padding-left:15px; text-align:left; color:#333;	
}
.co-l table,.co-r table{
	width:400px; text-align:center;
	border-collapse:collapse;/*테두리 공간을 없앰*/
}
.co-l td,.co-r td{
	padding:6px 4px; 
	border-bottom:1px dotted #999;/*밑줄 점선*/
}