@CHARSET "UTF-8";

#container_cm{/* 전체배경색 */
	background-color:#ebeceb;
}

#container_cm1{/* 게시판 큰틀 */
	width:80%;
	height:1300px;
	margin:auto;
/* 	border:1px solid red; */
}

.h{
	float:right;
	font-style:italic;
	font-size:50px;
}

.btn{
	outline:0;
	width:7%;
	margin:25px 0px 0px 0px;
	float:right;
	border-radius:13px;
	background-color:white;
}

.bt1{
	outline:0;
	width:20%;
	font-size:30px;
	font-style:italic;
	border-radius:13px;
}

#imgs{
/* 	border:1px solid red; */
	width:200px;
	float:left;
}

#table_div{
	width:80%;
	margin:0 auto;
	float:right;
/* 	border:1px solid black; */
}

#notice{
	width:880px;
/* 	border:1px solid black; */
}

#notice .th1{
/* 	border:1px solid black; */
	background-color:#f488ce;
	width:150px;
	font-size:15px;
	padding-right:20px;
}

#notice td{
/* 	border:1px solid black; */
}

#notice .td1{
	width:100%;
	height:25px;
	font-size:15px;
}

#notice .td2{
/* 	font-size:20px; */
	width:100%;
	height:500px;
	resize:none;
}

.btn1{
	outline:0;
	width:10%;
	border-radius:13px;
	float:right;
	background-color:white;
}
