@CHARSET "UTF-8";

#container_cm{/* 전체배경색 */
/* 	background-color:#ebeceb; */
}

/* #container_cm1{게시판 큰틀 */
/* 	width:80%; */
/* 	height:1000px; */
/* 	margin:auto; */
/* 	border:1px solid red; */
/* } */

#container_cm2{
/* 	border:1px solid red; */
	width:80%;
	height:650px;
}

.h{
	float:right;
	font-style:italic;
	font-size:50px;
}

.btn{
	outline:0;
	width:7%;
	margin:25px 0px 0px 0px;
	float:right;
	border-radius:13px;
	background-color:white;
}

.btn1{
	outline:0;
	width:7%;
	margin:5px;
	float:right;
	border-radius:13px;
	background-color:white;
}

.bt1{
	outline:0;
	width:20%;
	font-size:30px;
	font-style:italic;
	border-radius:13px;
}

#container_cm2{
	width:100%;
	margin:0 auto;
	float:right;
/* 	border:1px solid black; */
}

#re_h{
	width:49%;
	height:500px;
	padding-right:0px;
	display: inline-block;
	float:left;
/* 	border:1px solid black; */
}

#test{
	width:100%;
	height:85px;
	margin:0px auto;
	display: inline-block;
/* 	border:1px solid red; */
}

.test{
	display: inline-block;
	margin:30px -35px 0px 60px;
	width:50px;
	height: 50px;
}

#table_div{
	height:600px;
/* 	border:1px solid black; */
}

#table{
	width:50%;
/* 	border:1px solid black; */
	float:right;
}

#table th{
	background-color:#f488ce;
}

#table .th1{
	width:10%;
	height:25px;
	font-size:15px;
}

#table .th2{
	width:40%;
	height:25px;
	font-size:15px;
}

#table .th3{
	height:25px;
	font-size:15px;
}

#table .td1{
	height:20px;
	text-align:center;
	background-color:white;
}

#table .td2{
	width:100%;
/* 	height:500px; */
	background-color:white;
}

#table textarea{
	width:99%;
}

.table-condensed th,
.table-condensed td {
	border: 1px solid black;
}  
 
.table-condensed{
	height:150px;
	width:100%;
}

#commentParentName{
	width:250px;
	height:30px;
   
}
   
#commentParentPassword   {
	width:250px;
	height:30px;
	margin:10px 0px 10px 10px;

}
.form-group{
	width:300px;
	height:50px;
	margin:0;
	display: inline;
} 
     
.table_bo{
	float:right;
}   
   
.btn-default{
	width:50px;
	height:30px;
    border: 2px solid #c0c0c0!important;
}   
      
#form-control{
	width:100%; 
	height:80px;
	resize:none;
}   

#comment{
	width:80%;
	margin:0 auto;
	float:right;
/* 	border:1px solid black; */
}

.cth1{
	text-align:right;
	font-size:15px;
}

.cth2{
	resize:none;
	width:700px;
	height:80px;
}

.cbtn1{
	width:70px;
	height:60px;
	margin-right:60px;
}

#ptcomment_cont{
	width:80%;
	margin:0 auto;
	margin-top:50px;
	float:right;
}

.ctd1{
	text-align:left;
	height:25px;
}

.ctd2{
	text-align:right;
}

.ctd3{
	height:30px;
}

