@CHARSET "UTF-8";

#container_cm{/* 전체배경색 */
	background-color:#ebeceb;
/* 	border:1px solid blue; */
}

#container_cm1{/* 게시판 큰틀 */
	width:80%;
	height:900px;
	margin:auto;
/* 	border:1px solid red; */
}

.h{
	float:right;
	font-style:italic;
	font-size:50px;
}

.btn{
	outline:0;
	width:7%;
	margin:25px 0px 0px 0px;
	float:right;
	border-radius:13px;
	background-color:white;
}

.bt1{
	outline:0;
	width:20%;
	font-size:30px;
	font-style:italic;
	background-color:white;
	border-radius:13px;
}

/* #imgs{ */
/* /* 	border:1px solid red; */ */
/* 	width:200px; */
/* 	float:left; */
/* } */

#table_div{
	width:80%;
	margin:0 auto;
/* 	border:1px solid black; */
}

#notice{
/* 	width:80%; */
}

.title{
	width:680px;
}

#notice th{
	text-align:center;
	border-bottom:1px solid #b2b2b2;
}

#notice td{
	text-align:center;
	border-bottom:1px solid #ccc;
	padding:5px 0px;
}

#notice tr:hover{
	cursor:pointer; cursor:hand;/*마우스 화살표를 손가락모양으로 바뀜*/
}

#notice td:hovar{
	cursor:pointer; cursor:hand;
	background-color:#f4f4f4;
}

#table_search{
	text-align:center;
	margin:15px 0px 10px 0px;
}

#table_search .input_box{
	width:200px; height:20px; 
	margin:0 auto;
	border:1px solid #333;
	padding:0px 10px;
	border-radius: 10px;
	outline:0;
}

#table_search .btn1{
	outline:0;
	border-radius: 13px;
	width:7%;
	background-color:white;
}

#table_search .btn1:hover{
	cursor:pointer;
	cursor:hand;
}

#page_control{/* 페이지 넘기는 숫자 */
	text-align:center; 
	margin:8px 0px 0px 0px;
}

#page_control a{/* 페이지 넘기는 숫자 */
	text-decoration:none; 
	padding:0px 5px;
	color:#333;
}

#page_control a:hover{/* 페이지넘기는 숫자 마우스 오버시 */
   text-decoration:underline; 
   font-weight:bold;
   color:#F90;	
}